<div class="col px-4 mt-3">
    <h5 class="text-secondary" id="tituloMedicamento">
        <i class="fas fa-prescription-bottle-alt"></i> Medicamento
    </h5>
    <div class="dropdown-divider"></div>
</div>



<div class="modal-medicamento">
    <div class="row">
        <div class="col-6 px-4">

            <div class="input-group mb-3">
                <button 
                class="btn btn-outline-secondary" 
                type="button" 
                id="search_medicamento"
                data-bs-toggle="modal" 
                data-bs-target="#tablaMedicamentos">
                    <i class="fas fa-search"></i>
                </button>
                <input type="text" class="form-control" placeholder="seleccione un medicamento" aria-describedby="search_medicamento">
            </div>
        </div>
    

        <div 
        class="modal fade" 
        id="tablaMedicamentos" 
        tabindex ="-1" 
        aria-hidden="true" 
        aria-labelledby="modalTitle">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <!--header del modal-->
                    <div class="modal-header">
                        <h5 class="text-secondary">
                            <i class="fas fa-prescription-bottle-alt"></i> Seleccione Medicamento
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--body del modal-->
                    <div class="modal-body">
                        <div class="table-resposive mb-3">
                            <label for="tabla_medicamentos" class="mb-1">Buscar medicamento:</label>
                            <table
                                id="tabla_medicamentos"
                                name="search_medicamento"
                                class="table-bordered display nowrap table-striped"
                                style="width: 100%"

                            >
                            
                                <thead>
                                    
                                        <tr>
                                            <th>Solicitado</th>
                                            <th>Presentacion</th>
                                            <th>Laboratorio</th>
                                            <th>Monodroga</th>
                                            <th>Acción</th>
                                            <th>Forma</th>
                                            <th>Potencia</th>
                                            <th>Tamaño</th>
                                            <th>Unidad</th>
                                            <th>Vía</th>
                                            <th>Troquel</th>
                                            <th>Precio</th>                                        
                                        <!--<th>Desc. Scienza</th>
                                            <th>Desc. Rosfar</th>
                                            <th>Desc. Otro</th> -->
                                        </tr>
                                    
                                </thead>
                                <tbody>
                                    
                                        <% dmedicamento.forEach((user) => { %>
                                            <tr>
                                                <td><%= user.medicamento %></td>
                                                <td><%= user.presentacion %></td>
                                                <td><%= user.laboratorio %></td>
                                                <td><%= user.monodroga %></td>
                                                <td><%= user.accion %></td>
                                                <td><%= user.forma %></td>
                                                <td><%= user.potencia %></td>
                                                <td><%= user.tamanio %></td>
                                                <td><%= user.unidad %></td>
                                                <td><%= user.via %></td>
                                                <td><%= user.troquel %></td>
                                                <td><%= user.precio %></td>
                                                
                                            </tr>
                                        <% }) %>
                                    
                                </tbody>
                                
                            </table>

                            <!--modal2 - agregar nuevo prestador-->
                            <button 
                            type="button" 
                            class="mt-5 btn btn-outline-warning" 
                            data-bs-toggle="modal" 
                            data-bs-target="#nuevoPrestador"
                            data-bs-dismiss="modal"
                            >
                                <i class="fas fa-prescription-bottle-alt"></i> Agregar nuevo medicamento
                            </button>

                        </div>
                    </div>
                    <!--footer del modal-->
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            volver
                        </button>
                        <button type="button" 
                        class="btn btn-primary"
                        data-bs-dismiss="modal">
                            seleccionar
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!--mdoal2 - agregar nuevo prestador-->
        <div 
        class="modal fade" 
        id="nuevoPrestador" 
        tabindex ="-1" 
        aria-hidden="true" 
        aria-labelledby="modalTitle">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!--header del modal-->
                    <div class="modal-header">
                        <h5 class="text-secondary">
                            <i class="fas fa-prescription-bottle-alt"></i> Agregar nuevo medicamento
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--body del modal-->
                    <div class="modal-body">
                        <div class="form-group row">
                            <!-- Nombre -->
                            <div class="form-group col form-control-sm">
                                <label for="nombre">Nombre</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="nombre"
                                    id="nombre"
                                    aria-describedby="nombre"
                                />
                            </div>

                            <!-- Apellido -->
                            <div class="form-group col form-control-sm">
                                <label for="apellido">Apellido</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="apellido"
                                    id="apellido"
                                    aria-describedby="apellido"
                                />
                            </div>

                            <!-- cuil -->
                            <div class="form-group col form-control-sm">
                                <label for="cuil">Cuil</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="cuil"
                                    id="cuil"
                                    aria-describedby="cuil"
                                />
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- Especialidad -->
                            <div class="form-group col form-control-sm">
                                <label for="especialidad">Especialidad</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="especialidad"
                                    id="especialidad"
                                    aria-describedby="especialidad"
                                />
                            </div>

                            <!-- Matricula -->
                            <div class="form-group col form-control-sm">
                                <label for="matricula">Matricula</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="matricula"
                                    id="matricula"
                                    aria-describedby="matricula"
                                />
                            </div>
                        </div>
                    </div>
                    <!--footer del modal-->
                    <div class="modal-footer">
                        <a href="#tablaPrestadores" 
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        data-bs-toggle="modal"
                        role="button" >Guardar</a>
                    </div>
                </div>
            </div>
        </div>  
    
    </div>
</div>

<div class="container">
    <div class="row px-3">
            <!-- nombre comercial solicitado-->
            <div class="form-group col-4 form-control-sm">
                <label for="nom_med">Medicamento Solicitado</label>
                <input
                    type="text"
                    class="form-control"
                    name="nom_med"
                    id="nom_med"
                    aria-describedby="nom_med"
                />
            </div>

            <!-- nombre generico -->
            <div class="form-group col-4 form-control-sm">
                <label for="nom_gen_med">Genérico</label>
                <input
                    type="text"
                    class="form-control"
                    name="nom_gen_med"
                    id="nom_gen_med"
                    aria-describedby="nom_gen_med"
                />
            </div>

            <!-- nombre comercial ofrecido-->
            <div class="form-group col-4 form-control-sm">
                <label for="nom_med_ofr">Medicamento Ofrecido</label>
                <input
                    type="text"
                    class="form-control"
                    name="nom_med_ofr"
                    id="nom_med_ofr"
                    aria-describedby="nom_med_ofr"
                />
            </div>
    </div>
    <div class="row px-3">
            <!-- estado -->
            <div class="form-group col-4 form-control-sm">
                <label for="estado">Estado</label>
                <select class="form-control" name="estado" id="estado">
                    <option selected>Seleccione...</option>

                    <% for (let i=0; i < estado.length; i++) { %>
                    <option value="<%= estado[i].id %>">
                        <%= estado[i].estado %>
                    </option>
                    <% } %>
                </select>
            </div>
            <!-- cantidad -->
            <div class="form-group col-4 form-control-sm">
                <label for="cantidad">Cantidad</label>
                <input
                    type="number"
                    class="form-control"
                    name="cantidad"
                    id="cantidad"
                    aria-describedby="cantidad"
                />
            </div>
            <!-- meses autorizados -->
            <div class="form-group col-4 form-control-sm">
                <label for="autorizado">Meses Autorizados</label>
                <input
                    type="text"
                    class="form-control"
                    name="autorizado"
                    id="autorizado"
                    aria-describedby="autorizado"
                />
            </div>
        </div>

    <div class="row px-3">
            <!-- valor_med -->
            <div class="form-group col-3 form-control-sm">
                <label for="valor_med">Análisis de Compras</label>
                <input
                    type="text"
                    class="form-control"
                    name="valor_med"
                    id="valor_med"
                    placeholder="$"
                    aria-describedby="valor_med"
                    data-bs-trigger="focus"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Análisis por primera vez de medicamento que no se solicita marca"
                />
            </div>

            <!-- valor_prop -->
            <div class="form-group col-3 form-control-sm">
                <label for="valor_prop">Gestión c/Prestador</label>
                <input
                    type="text"
                    class="form-control"
                    name="valor_prop"
                    id="valor_prop"
                    placeholder="$"
                    aria-describedby="valor_prop"
                    data-bs-trigger="focus"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Valor en diferencia a lo solicitado y propuesto de marcas"
                />
            </div>
            <!-- valor_noacep -->
            <div class="form-group col-3 form-control-sm">
                <label for="valor_noacep">Sin aceptación</label>
                <input
                    type="text"
                    class="form-control"
                    name="valor_noacep"
                    id="valor_noacep"
                    placeholder="$"
                    aria-describedby="valor_noacep"
                    data-bs-trigger="focus"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Propuesta de medicamento SIN aceptación del Profesional solicitante"
                />
            </div>

            <!-- valor_prop_sinstock -->
            <div class="form-group col-3 form-control-sm">
                <label for="valor_prop_sinstock">Sin Stock</label>
                <input
                    type="text"
                    class="form-control"
                    name="valor_prop_sinstock"
                    id="valor_prop_sinstock"
                    placeholder="$"
                    aria-describedby="valor_prop_sinstock"
                    data-bs-trigger="focus"
                    data-bs-toggle="popover"
                    data-bs-placement="top"
                    data-bs-content="Medicamento aprobado por el Prestador pero no se encuentra en Stock"
                />
            </div>
    </div>

        
</div>