<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head", {title: "Gestión de Compras" }) -%>

    <body>

        <!--header-->
        <%- include("partials/header") -%>

        <!--container-->
        <section class="container pt-5">
            <div class="row">
                <form
                    class="col-xl-5 col-lg-5 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn"
                    action="/gestiones/crear" method="POST" id="form">

                    <div class="col-12">
                        <h5 class="text-secondary">
                            <i class="fas fa-border-all"></i> Crear Gestión
                        </h5>
                    </div>
                    
                    <div class="dropdown-divider"></div>
                   
                    <div class="form-group row">
                        <!-- gsc -->
                        <div class="form-group col">
                            <label for="gsc">GSC</label>
                            <input type="text" class="form-control" name="gsc" id="gsc"
                                aria-describedby="gsc" />
                            <div id="validacion_gsc" class="text-danger form-group col"></div> 
                            <!--a futuro implementar validación de datos-->
                        </div>
        
                        <!-- ap -->
                        <div class="form-group col">
                            <label for="ap">AP</label>
                            <input type="text" class="form-control" name="ap" id="ap" aria-describedby="ap" />
                            <div id="validacion_ap" class="text-danger form-group col"></div> 
                            <!--a futuro implementar validación de datos-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <!--Socio -->
                        <div class="form-group col">
                            <label for="socio">Socio</label>
                            <input type="text" class="form-control" name="socio" id="socio" aria-describedby="socio" />
                            <div id="validacion_socio" class="text-danger form-group col"></div>
                            <!--a futuro implementar validación de datos-->
                        </div>
                    
                        <!-- fecha -->
                        <div class="form-group col">
                            <label for="fecha">Fecha</label>
                            <input type="date" class="form-control" name="fecha" id="fecha" aria-describedby="fecha" />
                            <div id="validacion_fecha" class="text-danger form-group col"></div>
                            <!--a futuro implementar validación de datos-->
                        </div>
                    </div>
                       
                    <!-- prestador -->
                    <%- include("partials/prestador") -%>
                    
                    
                    <div class="form-group row mt-3">
                        <!-- Auditor -->
                        <div class="form-group col">
                            <label for="auditor">Auditor</label>
                                <select class="form-control" name="auditor" id="auditor" >
                                    
                                    <option selected>Seleccione...</option>
                                    
                                    <% for (let i= 0; i < auditor.length; i++) { %> 
                                        <option value="<%= auditor[i].id %>">
                                            <%= auditor[i].nombre %> <%= auditor[i].apellido %>
                                        </option>
                                    <% } %> 
                                        
                                </select>
                            <div id="validacion_auditor" class="text-danger form-group col"></div> 
                            <!--a futuro implementar validación de datos-->
                        </div>
        
                        <!-- Analista -->
                        <div class="form-group col">
                            <label for="analista">Analista</label>
                                <select class="form-control" name="analista" id="analista" >
                                    
                                    <option selected>Seleccione...</option>
                                    
                                    <% for (let i= 0; i < analista.length; i++) { %> 
                                        <option value="<%= analista[i].id %>">
                                            <%= analista[i].nombre %> <%= analista[i].apellido %>
                                        </option>
                                    <% } %> 
                                        
                                </select>
                            <div id="validacion_analista" class="text-danger form-group col"></div> 
                            <!--a futuro implementar validación de datos-->
                        </div>
                    </div>

                    <div class="form-group row">
                        <!-- observacion/notas -->
                        <div class="form-group col">
                            <label for="nota">Observación</label>
                            <textarea class="form-control" aria-label="nota" name="nota" id="nota" placeholder="Anote aquí lo conversado con el prestador"></textarea>
                            <div id="validacion_nota" class="text-danger form-group col"></div>
                            <!--a futuro implementar validación de datos-->
                        </div>
                    </div>
                    
                    <div class="form-group row bg-light mt-3 p-3 justify-content-center">
                        <!-- medicamento -->
                        <div class="form-group col-auto ">
                            <a href="/gestiones/crearGestion">
                                <button type="button" class="btn btn-outline-info btn-sm m-auto" value="1">
                                    <i class="fas fa-prescription-bottle-alt"></i> Medicamento
                                </button>
                            </a>
                        </div>

                        <!-- protesis -->
                        <div class="form-group col-auto">
                            <a href="/gestiones/crearGestion">
                                <button type="button" class="btn btn-outline-info btn-sm m-auto" value="1">
                                    <i class="fas fa-wheelchair"></i> Prótesis
                                </button>
                            </a>
                        </div>
                    </div>
                    
                    <!-- boton enviar -->
                    <div class="col-12 d-flex justify-content-center mt-2">
                        <button type="submit" class="btn btn-info mt-3 mb-1 text-white">
                           Crear!
                        </button>
                    </div>
                    
                </form>
            </div>
        </section>
    <!--footer-->
        <footer class="">
            <%- include("partials/footer") -%>
        </footer>

    </body>
</html>