<!DOCTYPE html>
<html lang="en">
    <!--head-->
    <%- include("partials/head", {title: "Gestión de Compras" }) -%>

    <body class="d-flex align-items-between flex-wrap">
        <!--header-->
        <div class="align-items-start w-100">
            <%- include("partials/header") -%>
        </div>
        <!--container-->
        <section class="container mt-5 mb-5">
            <div class="row">
                <form
                    class="col-xl-7 col-lg-9 col-md-12 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn"
                    action="/gestiones/crearGestion"
                    method="POST"
                    id="form"
                >
                    <div class="col-12">
                        <h5 class="text-secondary">
                            <i class="far fa-file-alt"></i> Crear Gestión
                        </h5>
                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="form-group row p-1">
                        <!-- gsc -->
                        <div class="form-group col form-control-sm">
                            <label for="gsc">GSC</label>
                            <input
                                type="text"
                                class="form-control"
                                name="gsc"
                                id="gsc"
                                aria-describedby="gsc"
                                data-bs-trigger="focus"
                                data-bs-toggle="popover"
                                data-bs-placement="top"
                                data-bs-content="Ingrese manualmente el número de GSC"
                                required
                            />
                        </div>

                        <!-- ap -->
                        <div class="form-group col form-control-sm">
                            <label for="ap">AP</label>
                            <input
                                type="text"
                                class="form-control"
                                name="ap"
                                id="ap"
                                aria-describedby="ap"
                                data-bs-trigger="focus"
                                data-bs-toggle="popover"
                                data-bs-placement="top"
                                data-bs-content="Ingrese manualmente el número de AP"
                            />
                        </div>
                    </div>

                    <div class="form-group row p-1">
                        <!--Socio -->
                        <div class="form-group col form-control-sm">
                            <label for="socio">Socio</label>
                            <input
                                type="text"
                                class="form-control"
                                name="socio"
                                id="socio"
                                aria-describedby="socio"
                                data-bs-trigger="focus"
                                data-bs-toggle="popover"
                                data-bs-placement="top"
                                data-bs-content="Ingrese manualmente el número de Socio"
                            />
                        </div>

                        <!-- fecha -->
                        <div class="form-group col form-control-sm">
                            <label for="fecha">Fecha</label>
                            <input
                                type="date"
                                class="form-control"
                                name="fecha"
                                id="fecha"
                                aria-describedby="fecha"
                            />
                        </div>
                    </div>

                    <div class="form-group row p-1">
                        <!-- Auditor -->
                        <div class="form-group col form-control-sm">
                            <label for="auditor">Auditor</label>
                            <select
                                class="form-control"
                                name="auditor"
                                id="auditor"
                            >
                                <option selected>Seleccione...</option>

                                <% for (let i= 0; i < auditor.length; i++) { %>
                                <option value="<%= auditor[i].id %>">
                                    <%= auditor[i].nombre %> <%=
                                    auditor[i].apellido %>
                                </option>
                                <% } %>
                            </select>
                        </div>

                        <!-- Analista -->
                        <div class="form-group col form-control-sm">
                            <label for="analista">Analista</label>
                            <select
                                class="form-control"
                                name="analista"
                                id="analista"
                            >
                                <option selected>Seleccione...</option>

                                <% for (let i= 0; i < analista.length; i++) { %>
                                <option value="<%= analista[i].id %>">
                                    <%= analista[i].nombre %> <%=
                                    analista[i].apellido %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row p-1">
                        <!-- observacion/notas -->
                        <div class="form-group col form-control-sm">
                            <label for="nota">Observación</label>
                            <textarea
                                class="form-control"
                                aria-label="nota"
                                name="nota"
                                id="nota"
                                placeholder="Anote aquí lo conversado con el prestador"
                                data-bs-trigger="focus"
                                data-bs-toggle="popover"
                                data-bs-placement="bottom"
                                data-bs-content="Comente brevemente lo conversado con el Prestador"
                            ></textarea>
                        </div>
                    </div>

                    <!-- prestador -->
                    <div class="form-group row mt-1 p-1 justify-content-center">
                        <%- include("partials/prestador") -%>
                    </div>

                    <div class="p-3 justify-content-start bg-light">
                        <!-- radio para elegir que tipo de gestión es -->
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="tipo_gestion"
                                id="radio_medicamento"
                                onclick="verificarCheck()"
                                value="1"
                                checked
                            />
                            <label
                                class="form-check-label"
                                for="radio_medicamento"
                            >
                                <i class="fas fa-prescription-bottle-alt"></i>
                                Medicamento
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="tipo_gestion"
                                id="radio_protesis"
                                onclick="verificarCheck()"
                                value="2"
                            />
                            <label
                                class="form-check-label"
                                for="radio_protesis"
                            >
                            <i class="fas fa-wheelchair"></i> Prótesis
                            </label>
                                
                            </label>
                        </div>
                        
                    </div>

                    <div
                        class="form-group row mt-1 p-1 justify-content-center"
                        id="check_med"
                    >
                        <!-- medicamento -->
                        <%- include("partials/medicamento") -%>
                    </div>

                    <div
                        class="form-group row mt-1 p-1 justify-content-center"
                        id="check_prot"
                    >
                        <!-- protesis -->
                        <%- include("partials/protesis") -%>
                    </div>

                    <div class="dropdown-divider"></div>
                    <!-- boton enviar -->

                    <div class="col-12 d-flex justify-content-center mt-3">
                        <a
                            class="btn btn-secondary text-white m-1"
                            href="/"
                            role="button"
                            >volver</a
                        >
                        <button
                            type="submit"
                            class="btn btn-info text-white m-1"
                        >
                            Crear!
                        </button>
                    </div>
                </form>
            </div>
        </section>
        <!--footer-->
        <footer class="align-items-end w-100">
            <%- include("partials/footer") -%>
        </footer>
    </body>
</html>
